@{
    ViewData["Title"] = "More about me!!!";
}

<div class="container">
    @*<h1>More about me!!!</h1>
    <hr />*@

    <p>Since a very young age, I was always moved and driven by games that require some algorithms to resolve it. Coming from a low income family, we could not afford a computer so my problem solving skill was limited to game books or challenging math problems. I did not get to use a computer until I was actually at the university completing my industrial engineering degree.</p>

    <p>It took me a while to catch up with my peers which was not an easy ride. Now, we are leaving in a world where technology is evolving at an increase speed. In a few years from now, it will be almost impossible to function well without some minimum knowledge of programming. In anticipation to the need that technology is creating in our global sphere, I felt the need to start this program and take it to those area where opportunity for hightech education still seem a luxury. </p>

    <p>I know many will relate with me on one or more points highlighted above; if that is the case with you, please join us in this journey of transforming the world into a fully hightech world and where people are not just using the gadget but are also able to think like it for continuous improvement.</p>

    <p>Thank you for taking the time to check us out and I look forward to your partnership whether as a student, teacher, support or donor.</p>
    

<br />
</div>
