@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using System.Security.Claims


@if (User.Identity.IsAuthenticated)
{
    <p>Hello @User.Identity.Name!</p>

    <h2>Your courses</h2>
    <hr />

    <PlaceHolder >My registered Courses </PlaceHolder><hr />

    @using (Html.BeginForm("Logout", "Account"))
    {
        <input type="submit" class="btn btn-primary" value="Log out" />
        <hr />
    }
}

else
{
    <h2>Authentication with Identity</h2>
    <hr />

    <p class="btn btn-default">@Html.ActionLink("Register", "Register")</p>
    <p class="btn btn-default">@Html.ActionLink("Log in", "Login")</p>
    <hr />
}