@{
    ViewData["Title"] = "Log In";
}

@using IGATAPCODE.ViewModels;

@model LoginViewModel

<div class="container">
    <div class="row">
        <h3>Welcome to the coding school of faith!!!</h3><br />
    </div>
    <br />
    <h2>Log into your account</h2>
    <hr />

    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="form-group">
            <label asp-for="UserName">User Name</label>
            <input class="form-control" asp-for="UserName" />
        </div><br />
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input class="form-control" asp-for="Password" />
        </div><br />
        <input type="submit" value="Log in" class="btn btn-primary" />
    </form>
</div>